codes/day-1/first-xml-app/employees.dtd

<!ELEMENT employees (employee+)>
<!ELEMENT employee (name,id,salary)>
<!ELEMENT name (first-name,middle-name?,last-name)>
<!ELEMENT first-name (#PCDATA)>
<!ELEMENT middle-name (#PCDATA)>
<!ELEMENT last-name (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT salary (#PCDATA)>
<!-- <!ATTLIST employee department_id ID #REQUIRED> -->